body {
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

/* Стили для темной темы */
.dark-mode {
    background-color: black;
    color: white;
}

header {
    background-color: black;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

section {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: black;
    color: white;
}

