<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">

    {% feed_meta %}
    {% seo %}
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ '/' | relative_url }}">Main</a></li>
                <li><a href="{{ '/about' | relative_url }}">About me</a></li>
                <li><a href="{{ '/contacts' | relative_url }}">Contacts</a></li>
                <li><a href="{{ '/map' | relative_url }}">Map</a></li>
                <li><a href="{{ '/war' | relative_url }}">War</a></li>
            </ul>
        </nav>
    </header>
    <button id="themeToggle">Change Theme</button>

    <main>
        {{ content }}
    </main>

    <footer>
        <p>&copy; Talko Denis</p>
        <p>&copy; <span id="year"></span></p>
    </footer>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" crossorigin=""></script>
    <script src="{{ '/assets/js/theme_toggle.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/year.js' | relative_url }}"></script>


</body>

</html>